---
import Layout from "../layouts/Layout.astro";
import NavigationBar from "../components/NavigationBar";
import CheckoutPage from "../components/CheckoutPage";
---

<Layout title="Olio Extra Vergine !!!">
	<NavigationBar client:only="react" />
	<div class="container max-w-screen mx-auto px-4">
		<CheckoutPage client:only="react" />
	</div>
</Layout>

<style></style>
