---
import Layout from "../layouts/Layout.astro";
import ImageSlider from "../components/ImageSlider.tsx";
import NavigationBar from "../components/NavigationBar";
import ResponsiveImage from "../components/ResponsiveImage.astro";
import RemainingStock from "../components/RemainingStock.astro";
---

<Layout title="Olio Extra Vergine !!!">
	<NavigationBar client:only="react" />
	<div class="container max-w-screen mx-auto px-4">
		<ResponsiveImage
			src="/EddaIllu.jpg"
			alt="A beautiful olive oil logo"
			sizes="(max-width: 640px) 100vw, (max-width: 1280px) 50vw, 33vw"
			srcSet={[{ src: "/EddaIllu@2.jpg", width: 640 }]}
			class="p-8 col-span-2 justify-center"
		/>
		<RemainingStock />

		<div id="information" class="intro p-8">
			<h2 class="text-4xl pb-8 font-bodoni italic">
				Erleben Sie die Essenz der Exzellenz
			</h2>
			<p class="pb-4 font-semibold">
				Willkommen in der Heimat außergewöhnlichen Olivenöls, das mit Tradition
				und Sorgfalt hergestellt wird. Unsere Olivenhaine, mit Bäumen im Alter
				von 60 bis 100 Jahren, liefern eine einzigartige Mischung aus drei
				erlesenen Olivensorten: Casa Liva, Toscani und der seltenen Minio.
			</p>
			<p class="pb-4">
				Jede Olive wird von Hand geerntet, um höchste Qualität und ein
				harmonisches Gleichgewicht der Aromen in jedem Tropfen zu gewährleisten.
				Die Minio-Olive, bekannt für ihre kleine Größe und Seltenheit, verleiht
				unserem Öl eine unverwechselbare Tiefe, die es von anderen abhebt. Mit
				unserem Engagement für den Erhalt dieser seltenen Sorte bewahren wir ein
				Erbe, das nur noch wenige Landwirte fortführen.
			</p>
			<p class="pb-4">
				Unser Olivenöl ist eine wahre Rarität: Nur etwa 100 Flaschen stehen
				jedes Jahr zum Verkauf.
			</p>
			<p class="pb-8">
				Genießen Sie das beste Olivenöl, in dem Tradition und außergewöhnlicher
				Geschmack verschmelzen.
			</p>
			<button class="btn
			btn-wide
			bg-lime-600
			col-span-2 mb-8"> Bestellen </button>
			<h2 class="text-4xl pb-8 font-bodoni italic">Impressionen</h2>
			<ImageSlider client:only="react" />
		</div>
	</div>
</Layout>

<style></style>
