---
import Layout from "../layouts/Layout.astro";
import NavigationBar from "../components/NavigationBar";
import ResponsiveImage from "../components/ResponsiveImage.astro";
import RemainingStock from "../components/RemainingStock.astro";
import AddToCart from "../components/AddToCart";
import Basket from "../components/Basket";
import { fetchProducts } from "../utils/productsService";

const products = await fetchProducts();
// console.log(products);
---

<Layout title="Olio Extra Vergine !!!">
	<NavigationBar client:only="react" />
	<div class="container max-w-full mx-auto px-4 md:px-8">
		<RemainingStock />
		<div id="information" class="intro bg-neutral-100 p-8 max-w-full mx-auto">
			<div class="max-w-3xl mx-auto">
				<h2 class="text-5xl md:text-8xl font-poppins font-semibold pb-8">
					Richtig gutes Öl
				</h2>
				<p class="pb-4 text-3xl md:text-4xl font-extralight leading-snug">
					Mit dem Kauf unseres Olivenöls unterstützt du direkt die Pflege
					unseres Olivenhains und hilfst uns, unsere traditionellen und
					nachhaltigen Anbaumethoden zu bewahren. Deine Unterstützung ermöglicht
					uns: Die nötige Ausrüstung wie Netze und schonende Erntehilfen zu
					finanzieren. In biologische Düngemittel und umweltfreundliche
					Landwirtschaft zu investieren. Die hohe Qualität unseres
					handgefertigten Olivenöls zu erhalten. Dieses Projekt liegt uns sehr
					am Herzen. Mit jedem Tropfen unseres Olivenöls genießt du nicht nur
					ein Stück mediterraner Tradition, sondern teilst auch unsere
					Leidenschaft für Qualität und Nachhaltigkeit. Vielen Dank, dass du uns
					auf diesem Weg begleitest und unsere Leidenschaft teilst!
				</p>
			</div>
		</div>
		<div
			class="mx-auto h-4/5 max-w-full overflow-y-scroll bg-cover bg-fixed bg-center bg-no-repeat mb-8"
			style="background-image:url('/_MG_9337.jpg');"
		>
			<div class="mt-[320px] max-w-3xl mx-auto">
				<div class="bg-white p-4 sm:p-8">
					<h2 class="text-6xl font-poppins font-semibold pb-8">
						Unsere Flaschengrößen – Für jeden das Richtige
					</h2>
					<p class="pb-4 text-3xl font-extralight leading-snug">
						Wer unser Olivenöl noch nicht kennt, kann mit unserer handlichen
						0,5-Liter-Flasche einen ersten Eindruck gewinnen und den feinen
						Geschmack erleben. Für alle, die unser Öl bereits kennen und
						schätzen, gibt es die bewährte 1-Liter-Flasche – perfekt für die
						tägliche Küche oder zum Teilen mit Familie und Freunden.
					</p>
					<p class="pb-4 text-3xl font-extralight leading-snug">
						Unser Olivenöl ist eine wahre Rarität: Nur etwa 100 Flaschen stehen
						jedes Jahr zum Verkauf.
					</p>
				</div>
			</div>
		</div>
		<div id="addtocart" class="intro bg-neutral-100 p-8 max-w-full mx-auto">
			<div class="max-w-3xl mx-auto">
				<ResponsiveImage
					src="/EddaIllu.png"
					alt="A beautiful olive oil logo"
					sizes="(max-width: 640px) 100vw, (max-width: 1280px) 50vw, 33vw"
					srcSet={[{ src: "/EddaIllu.png", width: 480 }]}
					class="p-8 col-span-2 justify-self-center"
				/>
				<AddToCart products={products} client:only="react" />
				<Basket client:only="react" />
			</div>
		</div>
	</div>

	<style></style>
</Layout>
